* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    font-family: monospace;
    color: red;
}
p {
    font-size: 48px;
    font-weight: 900;
    font-family: monospace;
    color: red;
}
